@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.calculator__display {
  min-height: 10rem;
  margin-top: 2rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  overflow: hidden;

  background-color: $color-surface;
  border-radius: 2rem;

  @include neumorphic-inset;
}

.calculator__expression {
  width: 100%;

  overflow: hidden;

  color: $color-text-muted;
  font-size: 1.8rem;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calculator__result {
  width: 100%;

  overflow: hidden;

  color: $color-text;
  font-size: 3.6rem;
  font-weight: 600;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}